<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="assets/css/LienHe.css">
    <link rel="stylesheet" href="{% static 'about.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  />
  </head>

  <body>
    <div id="header" data-header>
          <div class="navbar">
            <div class="logo">
              <a href="./index.html"
                ><img src="./assets/img/logo.png" alt=""
              /></a>
            </div>

            <ul class="links">
              <a href="./index.html"><li>Trang chủ</li></a>
              <a href="./DangKyMentor.html"><li>Đăng ký Mentor</li></a>
              <a href="#timkiem"><li>Tìm kiếm Mentor</li></a>
              <a href="./PublicVKU.html"><li>Cộng đồng</li></a>
              <a href="./HopTac.html"><li>Hợp tác</li></a>
              <a href="./DanhGia.html"><li>Đánh giá</li></a>
              <a href="./LienHe.html"><li>Về chúng tớ </li></a>
            </ul>
            <a class="action_btn" href="./Login.html"> BẮT ĐẦU </a>
            <div class="toggle_btn">
              <i class="fa-solid fa-bars"></i>
            </div>
            <!-- Dropnav -->
            <div class="dropdown_menu">
              <li>
                <a href="#"><li>Trang chủ</li></a>
              </li>
              <li>
                <a href="./DangKyMentor.html"><li>Đăng ký Mentor</li></a>
              </li>
              <li>
                <a href="#timkiem"><li>Tìm kiếm Mentor</li></a>
              </li>
              <li>
                <a href="./PublicVKU.html"><li>Cộng đồng</li></a>
              </li>
              <li>
                <a href="./HopTac.html"><li>Hợp tác</li></a>
              </li>
              <li>
                <a href="./DanhGia.html"><li>Đánh giá</li></a>
              </li>
              <li>
              <a href="/LienHe.html"><li>Về chúng tớ </li></a>
              </li>
              <li>
                <a class="action_btn2" href="./Login.html">BẮT ĐẦU</a>
              </li>
            </div>
          </div>
        </div>
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="/assets/img/team.jpg" alt="" />
      </div>
      <div class="company-info">
        <span>Xin chào,  <span class="our">chúng tớ là đội ngũ VKUMentor.</span></span>
        <p>
          <b>Trang web VKUMentor </b> được tạo ra với mục đích hỗ trợ sinh viên Đại học Công nghệ Thông tin và Truyền thông Việt - Hàn (VKU) trong việc học tập và phát triển kỹ năng. <br> Nền tảng này cung cấp tài liệu học tập, video hướng dẫn, và các khóa học trực tuyến, cùng với sự tư vấn từ đội ngũ mentor giàu kinh nghiệm. <br> VKUMentor giúp sinh viên nắm vững kiến thức chuyên ngành và kỹ năng mềm, tự tin chinh phục thử thách học thuật và nghề nghiệp.
        </p>
       
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
    <div class="team"><span>OUR TEAM</span></div>
    <div class="container">
      <div class="card">
        <div class="card-image loading"><img src="assets/img/Ducnhat.jpg" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Huỳnh Đức <span class="yellow-surname">Nhật</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Thiết kế và Frontend</span> <br>
             Công nghệ thông tin (Kỹ sư) <br>
              Email: <a href="mailto:'NhatHD@gmail.com'">NhatHD@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
            <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="assets/img/TTTT08.png" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Trịnh Thị Thanh <span class="yellow-surname">Thảo</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Frontend và Backend</span> <br>
              Công nghệ thông tin (Kỹ sư)<br>
              Email: <a href="mailto:'harshsunwani11@gmail.com'">TTTT0803@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></i></a>
            <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="assets/img/QV.jpg" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Phạm Quốc <span class="yellow-surname">Việt</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Frontend và Backend</span> <br>
              Công nghệ thông tin (Kỹ sư) <br>
              Email: <a href="mailto:'nikjaiswal21@gmail.com'">VietQP@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
            <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="assets/img/NQK-Bg.jpg" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Nguyễn Quang <span class="yellow-surname">Kính</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Frontend và Backend</span> <br>
              Công nghệ thông tin (Kỹ sư) <br>
              Email: <a href="mailto:'nikjaiswal21@gmail.com'">kinhnguyen1401@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
            <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------------footer------------------------------------------ -->
   <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
   <div class="team"><span>CONTACT</span></div>
<!--==================== CONTACT ====================-->
<section class="contact section" id="contact">
  <div class="contact__container grid">
    <div class="contact__data">
      <h2 class="section__title-2">
        <span>Contact Me.</span>
      </h2>

      <p class="contact__description-1">
        I will read all emails. Send me any
        message you want and I'll get back to you.
      </p>

      <p class="contact__description-2">
        I need your <b>Name</b> and <b>Email Address</b>, but
        you won't receive anything other than your reply.
      </p>

      <div class="geometric-box"></div>
    </div>

    <div class="contact__mail">
      <h2 class="contact__title">
        Send Me A Message
      </h2>

      <form action="" class="contact__form" id="contact-form">
        <div class="contact__group">
          <div class="contact__box">
            <input type="text" name="user_name" class="contact__input" id="name" required placeholder="First name">
            <label for="name" class="contact__label">First Name</label>
          </div>

          <div class="contact__box">
            <input type="email" name="user_email" class="contact__input" id="email" required placeholder="Email Address">
            <label for="email" class="contact__label">Email Address</label>
          </div>
        </div>

        <div class="contact__box">
          <input type="email" name="user_subject" class="contact__input" id="subject" required placeholder="Subject">
          <label for="subject" class="contact__label">Subject</label>
        </div>

        <div class="contact__box contact__area">
          <textarea name="user_message" id="message" class="contact__input" required placeholder="Message"></textarea>
          <label for="message" class="contact__label">Message</label>
        </div>

        <p class="contact__message" id="contact-message"></p>

        <button type="submit" class="contact__button button">
          <i class="ri-send-plane-line"></i> Send Message
        </button>
      </form>
    </div>

    <div class="contact__social">
      <img src="assets/img/curved-arrow.svg" alt="" class="contact__social-arrow">

      <div class="contact__social-data">
        <div>
          <p class="contact__social-description-1">
            Does not send emails
          </p>

          <p class="contact__social-description-2">
            Write me on my social networks
          </p>
        </div>

        <div class="contact__social-links">
          <a href="https://www.facebook.com/" target="_blank" class="contact__social-link">
            <i class="ri-facebook-circle-line"></i>
          </a>

          <a href="https://www.instagram.com/" target="_blank" class="contact__social-link">
            <i class="ri-instagram-line"></i>
          </a>

          <a href="https://www.linkedin.com/" target="_blank" class="contact__social-link">
            <i class="ri-linkedin-box-line"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- animation  -->
<div class="animation-area">
  <ul class="box-area">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
  <!-- end animation  -->
   <!-- Site footer -->
   <footer id="site-footer">
    <div class="contai">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <img
            class="logo-img"
            src="/assets/img/logo.png"
            alt=""
          />
        </div>

        <div class="col-xs-6 col-md-3">
          <ul class="footer-links">
            <li>
              <div class="tieude">Đường dẫn nhanh</div>
            </li>
            <li>
              <a href="/"
                >Trang chủ</a
              >
            </li>
            <li>
              <a href="/DangKyMentor.html"
                >Đăng ký mentor</a
              >
            </li>
            <li>
              <a
                href="/PublicVKU.html"
                >Cộng đồng</a
              >
            </li>
            <li>
              <a href=""
                >Liên hệ hợp tác</a
              >
            </li>
            <li>
              <a href=""
                >Góp ý phản hồi</a
              >
            </li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <div class="tieude">Liên hệ</div>
          <ul class="footer-links lienhe">
            <li><div class="phude">VKU Mentor</div></li>
            <li>
              Địa điểm: 470 Trần Đại Nghĩa, Hòa Quý,<br> Ngũ Hành Sơn, Đà Nẵng
            </li>
            <li>Số điện thoại: (+84) 012345678</li>
             Email: [vku.mentor@gmail.com](mailto:vku.mentor@gmail.com)
            </li>
        </div>
      </div>
     <hr/>
    </div> 
    <div class="contai">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            <div class="copyright">&#169; </div>
            2024 VKU Mentor được xây dựng và phát triển bởi <br>Kính, Thảo, Việt, Nhật 
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"><i class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</section>

</body>
  <script src="Javascript/Lienhe.js"></script>
  </html>