.speak {
    position: relative;
    display: inline-block;
    min-width: 2.7em;
    margin: 1em;
    text-align: center;
    cursor: pointer;
}

.speak span {
    transition: color 0.3s ease-out;
    color: inherit;
}

.speak:after, .speak:before, .speak span:after, .speak span:before {
    color: #333333;
    background-color: currentColor;
}

.one:before, .one:after, .one span:before, .one span:after {
    background-color: #FF0000;
}

.two:before, .two:after, .two span:before, .two span:after {
    background-color: #FF7F00;
}

.three:before, .three:after, .three span:before, .three span:after {
    background-color: #FFFF00;
}

.four:before, .four:after, .four span:before, .four span:after {
    background-color: #00FF00;
}

.five:before, .five:after, .five span:before, .five span:after {
    background-color: #0000FF;
}

.six:before, .six:after, .six span:before, .six span:after {
    background-color: #4B0082;
}

.seven:before, .seven:after, .seven span:before, .seven span:after {
    background-color: #9400D3;
}

.eight:before, .eight:after, .eight span:before, .eight span:after {
    background-color: #24ACF2;
}

.speak:after, .speak:before, .speak span:before, .speak span:after {
    position: absolute;
    content: '';
    border-radius: 4px;
}

.speak:after, .speak:before {
    bottom: -6px;
    height: 4px;
}

.speak:after {
    left: 0;
    right: 39px;
}

.speak:before {
    right: -2px;
    width: 13px;
}

.speak span:before {
    height: 0;
    width: 4px;
    bottom: -2px;
    right: 7px;
    transition: height .3s, bottom .3s;
}

.speak span:after {
    height: 4px;
    width: 34px;
    bottom: -6px;
    right: 8px;
    transform: rotate(0deg);
    transform-origin: left top;
    transition: transform .3s, right .3s, width .3s;
}

.speak.active span:before {
    height: 22px;
    bottom: -24px;
}

.speak.active span:after {
    right: 1px;
    width: 40px;
    transform: rotate(30deg);
}

.speak.active, .speak.active {
    outline: 0;
}