* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.html {
  margin: 0px;
}
@font-face {
  font-family: fontBWD;
  src: url(../font/00119-UTM-HelvetIns/00119-UTM-HelvetIns.ttf);
}
body {
  background-color: whitesmoke;
  font-family: fontBWD; /* Thay đổi font chữ nếu cần */
}

.container .head .img {
  width: auto;
  height: 3cm;
}
/* Phần header */
.navbar li {
  list-style: none;
  font-size: 1rem;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  line-height: 1.6;
}
.navbar a:hover {
  color: #46a4d2;
}
#header {
  padding: 0 2rem;
  font-family: fontBWD;
}
.navbar {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -32px;
  z-index: 1000; /* Đảm bảo tiêu đề nằm trên cùng */
}
.navbar .logo img {
  width: 160px;
  margin-top: 10px;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  color: whitesmoke !important;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem !important;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-right: 32px;
}

.action_btn:hover {
  scale: 1.05;
  opacity: 0.8;
}
.action_btn:active {
  scale: 0.95;
}
.action_btn2 {
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  color: whitesmoke !important;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem !important;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn2:hover {
  scale: 1.05;
  opacity: 0.8;
}
.action_btn2:active {
  scale: 0.95;
}
.dropdown_menu {
  display: none;
  position: absolute;
  height: 0px;
  top: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open {
  height: 550px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Container chính */
.container {
  /* display: flex; */
  /* flex-direction: column; */
  /* background-image: url(../img/bg.png); */
  /* background-position: center; */
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.head .img {
  width: 150px;
  height: 150px;
  padding: 0cm;
}

.head .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }
  .navbar {
    display: none;
    display: flex;
  }
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
/* end header  */
.button_container {
  display: flex;
  align-items: center;
}

.login-register {
  display: flex;
}
.login:hover,
.register:hover,
.DangKyMentor:hover {
  opacity: 0.8;
}
.title,
.small_title {
  font-family: fontBWD;
  font-weight: bold;
  font-size: large;
}
.title .title_1,
.title_2,
.title_3 {
  padding-top: 9px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; /* Maximum width */
  border-radius: 5px; /* Optional: to round the corners */
}

/* The Close Button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Phần nội dung chính */
#Content {
  display: flex;
  padding-top: 0;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 0;
  justify-content: space-around;
}

.title {
  text-align: left;
  width: 70%;
  color: #fff; /* Màu chữ */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: fontBWD;
  line-height: 2;
}

.DangKyMentor button {
  padding: 15px 25px;
  background: linear-gradient(180deg, rgb(22, 167, 239), rgb(148, 45, 212));
  color: #fff;
  border: 2px solid;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  float: right;
  /* transform: translateY(-50px); */
  font-weight: bolder;
}
.ipad {
  display: none;
}
/* Phần hướng dẫn 4 bước */
.DangKy .Instruct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 5px;
}
.DangKy .Instruct button {
  font-family: fontBWD;
  padding: 20px 30px;
  border: 2px solid;
  color: whitesmoke;
  font-size: 16px;
  border-radius: 20px;
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  width: 150px;
  height: auto; /* Đặt chiều cao của button là tự động để phù hợp với nội dung bên trong */
}

.Instruct p {
  font-size: 14px;
  margin-top: 5px;
}

.Instruct hr {
  /* border: none; */
  height: 1px;
  color: linear-gradient(180deg, rgb(22, 167, 239), rgb(148, 45, 212));
  margin: 10px 0;
}

/* Phần tìm kiếm Mentor */
#timkiem {
  height: 64px;
  width: 100%;
}
#dangnhapmentor {
  width: 100%;
  height: 64px;
}
#findmentor {
  font-family: fontBWD;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  border-radius: 5px;
  padding: 16px;
}
#findmentor input {
  border-radius: 10px;
  font-family: fontBWD;
}
#findmentor select {
  border-radius: 10px;
  font-family: fontBWD;
}
#findmentor .find {
  font-family: fontBWD;
  padding-bottom: 16px;
  padding-top: 12px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: fontBWD;
  border-radius: 10px;
  margin-bottom: 16px;
  align-items: center;
  margin-left: 7px;
}
#findmentor .find:hover {
  transform: scale(0.95);
}
#findmentor .EnterName {
  width: 98%;
  margin-left: 7px;
  padding: 16px 64px;
}

#findmentor .title_4 {
  height: auto;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: fontBWD;
  font-size: 30px;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 16px;
}

#findmentor .Khoa {
  padding: 16px 64px;
  margin: 8px 6px;
}

#findmentor .Ngành {
  padding: 16px 64px;
  margin: 8px 6px;
}
#findmentor .Môn {
  padding: 16px 64px;
  margin: 8px 6px;
}
/* Phần hình ảnh VKU Mentor */
.mentor-text {
  display: inline-block;
  padding: 16px 32px;
  color: whitesmoke;
  border-radius: 20px;
  margin: 32px;
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
}
.ImageVkuMentor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  padding: 32px;
  border-radius: 5px;
  padding-top: 0px;
}

.ImageVkuMentor button {
  border: none;
  border-radius: 20px;
}

.ImageVkuMentor img {
  width: 100%;
  max-height: 759px;
  border-radius: 16px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ImageVkuMentor img:hover {
  transform: scale(0.95);
}
/* Responsive smarthone */
@media (max-width: 739px) {
  #hero1 {
    background: url(../img/bgdt.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  #Content {
    display: block;
  }
  .title {
    margin-left: 64px;
  }
  .small_title {
    display: none;
  }
  .DangKy .Instruct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  #findmentor {
    display: grid;
    padding: 10px;
  }
  #findmentor .EnterName {
    width: 100%;
    margin-bottom: 16px;
  }
  #findmentor .Khoa,
  #findmentor .Ngành,
  #findmentor .Môn {
    margin-bottom: 16px;
    width: 100%;
  }
  .ImageVkuMentor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  #findmentor .title_4 {
    color: #8b56e9;
  }
  .DangKyMentor {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
  }
  .ipad {
    display: block;
    padding: 16px 32px;
  }
  #header {
    max-height: 32px;
  }

  #nav > li > a {
    padding: 4px 8px;
    margin-top: -8px;
    margin-bottom: -7px;
    font-size: 12px;
  }
  .container .background .head {
    padding-bottom: 12px;
  }
  #nav .Login a {
    color: black;
    padding: 0, 12px;
  }
  #nav .Login,
  .Signup {
    height: 32px;
    width: 60px;

    padding-top: 8px;
    font-size: 12px;
    cursor: pointer;
  }
  .navbar {
    align-items: center;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .title {
    margin-bottom: 32px;
  }
  .small_title {
    display: none;
  }
  #Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #findmentor {
    display: block;
    padding: 10px;
    align-items: center;
  }
  #findmentor .EnterName {
    margin-bottom: 16px;
    width: 80%;
    margin-left: 85px;
  }
  #findmentor .Khoa,
  #findmentor .Ngành,
  #findmentor .Môn {
    margin-bottom: 16px;
    width: 80%;
    margin-left: 85px;
  }
  #findmentor .find {
    margin-left: 36%;
  }
  .DangKy .Instruct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
  .ImageVkuMentor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #findmentor .title_4 {
    color: #8b56e9;
  }
  .DangKyMentor {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
  }
  .ipad {
    display: block;
    padding: 16px 32px;
  }
  #header {
    max-height: 32px;
  }

  #nav > li > a {
    padding: 4px 8px;
    margin-top: -8px;
    margin-bottom: -7px;
    font-size: 12px;
  }
  .container .background .head {
    padding-bottom: 12px;
  }
  #nav .Login a {
    color: black;
    padding: 0, 12px;
  }
  #nav .Login,
  .Signup {
    height: 32px;
    width: 60px;

    padding-top: 8px;
    font-size: 12px;
    cursor: pointer;
  }
}
#map {
  margin-bottom: 32px;
}
/* footer */
.copyright {
  display: inline;
  font-family: sans-serif;
}
.logo-img {
  width: 450px;
}
.lienhe li {
  margin: 8px 0px;
}
.col-xs-6 {
  float: left;
  width: 33.33333%;
}
#site-footer {
  background-color: #97bade;
  padding: 45px 0 20px;
  color: whitesmoke;
  font-family: fontBWD;
  line-height: 1.8;
  font-size: 18px;
  text-transform: uppercase;
}
.tieude {
  font-size: 32px;
  text-transform: uppercase;
}
.phude {
  font-size: 28px;
  margin: 4px 0px;
  text-transform: uppercase;
}
#site-footer hr {
  border-top-color: whitesmoke;
}
#site-footer hr.small {
  margin: 20px 0;
}
#site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
#site-footer a {
  color: whitesmoke;
}
#site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: whitesmoke;
  text-decoration: none;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
#site-footer .social-icons {
  text-align: right;
  padding: 8px;
}
#site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: whitesmoke;
}
.copyright-text {
  margin: 0;
  margin: 8px 0px;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
  .logo-img {
    width: 330px;
  }
}
@media (max-width: 739px) {
  #site-footer {
    padding-bottom: 0;
  }
  #site-footer .copyright-text,
  #site-footer .social-icons {
    text-align: center;
  }
  .logo-img {
    width: 250px;
    margin-left: 55px;
    margin-bottom: -64px;
    margin-top: -64px;
  }
  .col-xs-6 {
    text-align: center;
    width: auto;
    float: none;
    margin-bottom: 16px;
  }
  #site-footer {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 64px;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 13px;
}
#site-footer .social-icons a {
  background-color: #eceeef;
  color: black;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
#site-footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}
#site-footer .social-icons a.twitter:hover {
  background-color: #00aced;
}
#site-footer .social-icons a.linkedin:hover {
  background-color: #007bb6;
}
#site-footer .social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* Slider */

.mySlides {
  display: none;
}

/* Sections */

#hero1 {
  /* background: url(../img/bg2.jpg); */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-attachment: fixed; */
}
#hero2 {
  /* background: url(/assets/img/bg8.jpg); */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-attachment: fixed; */
}
#hero3 {
  /* background: url(/assets/img/bg4.jpg); */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-attachment: fixed; */
}

.hero,
.content {
  position: relative;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.inner {
  /* margin: 0 auto;
  min-height: 710px;
  display: flex;
  align-items: center;
  justify-content: left; */
  width: 100%;
  height: 700px;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .inner {
    height: 650px;
  }
}

@media screen and (max-width: 1200px) {
  .inner {
    height: 600px;
  }
}

@media screen and (max-width: 1000px) {
  .inner {
    height: 550px;
  }
}

@media screen and (max-width: 800px) {
  .inner {
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .inner {
    height: 450px;
  }
}

@media screen and (max-width: 400px) {
  .inner {
    height: 400px;
  }
}

@media screen and (max-width: 375px) {
  .inner {
    height: 350px;
  }
}

.copy.slide-tekst {
  margin: 0;
  background-image: url(http://sola-elektro.no/wp-content/uploads/2019/02/Reklame-grøn-bg.png);
  background-position: right;
  height: 200px;
  width: 800px;
}

.copyLogo.slide-tekst {
  margin: 0px 0px 0px 200px;
  height: 200px;
  width: 800px;
}

@media only screen and (max-width: 750px) {
  .inner {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 750px) {
  .copy h2 {
    margin: 50px 0px 0px 50px !important;
  }
}

@media only screen and (max-width: 750px) {
  .copy a {
    margin: 0px 0px 0px 50px !important;
  }
}

@media only screen and (max-width: 750px) {
  .copyLogo.slide-tekst {
    margin: 0px 0px 0px 50px !important;
  }
}

@media only screen and (max-width: 455px) {
  .copy h2 {
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 455px) {
  .copy a {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 455px) {
  .copyLogo.slide-tekst img {
    width: 240px !important;
  }
}

.copy h2 {
  font-family: "Arial";
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin: 50px 0px 0px 200px;
  line-height: normal;
}

.copy a {
  margin: 0px 0px 0px 200px;
  font-family: "Arial";
  font-size: 12px;
  color: white;
  text-underline-position: under;
}

.slide-tekst {
  position: relative;

  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(0px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.w3-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}
.w3-display-right {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

/* Badge */
.w3-badge {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.w3-badge {
  cursor: pointer;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  padding: 0;
}

.demo-1 {
  position: absolute;
  top: 96%;
  left: 48%;
  transform: translate(0%, -48%);
  -ms-transform: translate(0%, -48%);
}

.demo-2 {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.demo-3 {
  position: absolute;
  top: 96%;
  left: 52%;
  transform: translate(0%, -52%);
  -ms-transform: translate(0%, -52%);
}

@media only screen and (max-width: 1200px) {
  .demo-1 {
    left: 47%;
    transform: translate(0%, -47%);
    -ms-transform: translate(0%, -47%);
  }

  .demo-3 {
    left: 53%;
    transform: translate(0%, -53%);
    -ms-transform: translate(0%, -53%);
  }
}

@media only screen and (max-width: 900px) {
  .demo-1 {
    left: 46%;
    transform: translate(0%, -46%);
    -ms-transform: translate(0%, -46%);
  }

  .demo-3 {
    left: 54%;
    transform: translate(0%, -54%);
    -ms-transform: translate(0%, -54%);
  }
}

@media only screen and (max-width: 600px) {
  .demo-1 {
    left: 44%;
    transform: translate(0%, -44%);
    -ms-transform: translate(0%, -44%);
  }

  .demo-3 {
    left: 56%;
    transform: translate(0%, -56%);
    -ms-transform: translate(0%, -56%);
  }
}

@media only screen and (max-width: 400px) {
  .demo-1 {
    left: 40%;
    transform: translate(0%, -40%);
    -ms-transform: translate(0%, -40%);
  }

  .demo-3 {
    left: 60%;
    transform: translate(0%, -60%);
    -ms-transform: translate(0%, -60%);
  }
}

.w3-border {
  border: 1px solid #ccc !important;
}

.w3-transparent {
  background-color: transparent !important;
}

.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.w3-white,
.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

/* Fade in */
.fade-in {
  animation: fadein 0.8s linear;
}

@keyframes fadein {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
.container--card {
  max-width: 1000px;
  margin: 0 auto;
}
.inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  flex-basis: 33.33333%;
  padding: 15px;
}
.inner-card {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.img-wrapper {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.btn-wrapper {
  display: block;
  text-align: center;
}
.view-btn {
  width: 70%;
  height: 40px;
  border: none;
  background-color: steelblue;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.view-btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.light-box {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-out;
}
.box {
  width: 600px;
  height: 400px;
  background-color: #fff;
  transform: scale(0);
  transition: all 200ms ease-in-out;
  padding: 10px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  position: relative;
}
.box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 15px;
}
.box .light-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.box .close-btn {
  position: absolute;
  z-index: 100;
  font-size: 30px;
  color: #ccc;
  left: 100%;
  top: 0;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 200ms linear;
}
/* Effect */
.effect .light-box {
  opacity: 1;
  visibility: visible;
}
.effect .light-box .box {
  transform: scale(1);
}

@media (max-width: 780px) {
  .card {
    flex-basis: 50%;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .card {
    flex-basis: 5100%;
  }
  .box .close-btn {
    margin-left: 0;
    left: 80%;
    top: -12%;
  }
}
.credit {
  font-size: 14px;
}
/* slider-2 */

.container-slider {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  position: relative;
}

.slider {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  transition: left 0.5s;
  position: relative;
  left: 0;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 320px;
  flex-shrink: 0;
  border-radius: 20px;
}
.img__slider--sub {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 20px;
}
.img__slider--sub:hover {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px;
}
.control-slider {
  width: 30%;
  margin: auto;
  /* margin-top: 2rem; */
  display: flex;
  justify-content: space-between;
}

.control-slider i {
  color: black;
  cursor: pointer;
  font-size: 1.8rem;
  position: absolute;
  top: 150px;
}
.fa-circle-left {
  left: 0;
}
.fa-circle-right {
  right: 0;
}
.b24-widget-button-wrapper {
  right: 20px !important;
  bottom: 100px !important;
}
.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;

  color: #000;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: whitesmoke;
  border: 3px solid rgb(61, 61, 231);
  transition: 0.25s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
  box-shadow: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
}

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}
