* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: fontBWD;
  src: url(../font/00119-UTM-HelvetIns/00119-UTM-HelvetIns.ttf);
}
body {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  line-height: 1.6;
}
.navbar a:hover {
  color: #46a4d2;
}
#header {
  padding: 0 2rem;
  font-family: fontBWD;
}
.navbar {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -32px;
  z-index: 1000; /* Đảm bảo tiêu đề nằm trên cùng */
}
.navbar .logo img {
  width: 160px;
  margin-top: 10px;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  color: whitesmoke !important;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem !important;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-right: 32px;
}

.action_btn:hover {
  scale: 1.05;
  opacity: 0.8;
}
.action_btn:active {
  scale: 0.95;
}
.action_btn2 {
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  color: whitesmoke !important;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem !important;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn2:hover {
  scale: 1.05;
  opacity: 0.8;
}
.action_btn2:active {
  scale: 0.95;
}
.dropdown_menu {
  display: none;
  position: absolute;
  height: 0px;
  top: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open {
  height: 550px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo__header {
  width: 128px;
  margin-bottom: -64px;
  margin-left: 32px;
}
.TTTT_Wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    "TTTT_Header TTTT_Header TTTT_Header"
    "content_left TTTT_Center content_right"
    "TTTT_footer TTTT_footer TTTT_footer";
  margin-bottom: 36px;
}

.TTTT_Header,
.content_left,
.TTTT_Center,
.content_right,
.TTTT_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 100px;
}

.TTTT_Header {
  grid-area: TTTT_Header;
  width: 100%;
  height: 100%;
}

.TTTT_Header .logo img {
  float: left;
  width: 200px;
  margin-top: -20px;
}

.TTTT_Header .title h2 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Lilita One", sans-serif;
  font-weight: 800;
  margin: 20px;
  font-style: normal;
  font-size: 90px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #1e67b5, #14abcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 0px #536fe5, -2px -2px 0px white, 2px -2px 0px white,
    -2px 2px 0px white, 2px 0px 0px white, -2px 0px 0px white, 0px 2px 0px white,
    0px -2px 0px white, 0.1em 0.1em 0.2em white;
    margin-top: -30px;
}

.content_left {
  grid-area: content_left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.content_left .content_left_header h4 {
  font-family: "Lilita One", sans-serif;
  font-weight: 750;
  font-style: normal;
  font-size: 45px;
  color: #1aaeec;
}
.content_left .content_left_content {
  font-family: "Lilita One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #fefffb;
  margin: 65px;
}
.content_left .content_left_content li {
  list-style-type: circle;
  margin: 20px;
}
.TTTT_Center {
  grid-area: TTTT_Center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
}
.TTTT_Center .image_mentor img {
  width: 515px;
  height: 100%;
}
.content_right {
  grid-area: content_right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.content_right_header h4 {
  font-family: "Lilita One", sans-serif;
  font-weight: 750;
  font-style: normal;
  font-size: 45px;
  color: #1aaeec;

}
.content_right .content_right_content {
  font-family: "Lilita One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  margin: 90.3px;
  color: #fefffb;
}
.content_right .content_right_content li {
  list-style-type: circle;
  margin: 10px;
}
.TTTT_footer {
  grid-area: TTTT_footer;
  background-color: blue;
}
.TTTT_Center .button_mentor button {
  position: absolute;
  width: 30%;
  transform: translateX(-50%);
  padding: 20px;
  background: linear-gradient(180deg, rgb(22, 167, 239), rgb(148, 45, 212));
  border-radius: 30px;
  font-family: "Lilita One", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  color: white;
}
/* Correct Google Fonts import statement */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 1150px) {
  .TTTT_Wrapper {
    grid-template-columns: 5fr;
    grid-template-rows: 300px auto;
    grid-template-areas:
      "TTTT_Header"
      "TTTT_Center"
      "content_left"
      "content_right"
      "TTTT_footer";
  }

  .TTTT_Header .title h2 {
    font-size: 50px;
  }
  .content_left .content_left_header h4,
  .content_right_header h4 {
    font-size: 35px;
  }
  .content_left .content_left_content,
  .content_right .content_right_content {
    font-size: 25px;
  }
  .TTTT_Center .button_mentor button {
    font-size: 20px;
    padding: 15px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    transform: translateX(0);
    border-radius: 20%px;
  }
  .button_mentor {
    display: block;
    width: 80%;
    text-align: center;
  }
  .TTTT_Header,
  .content_left,
  .TTTT_Center,
  .content_right,
  .TTTT_footer {
    margin-top: 0px;
  }
}
.footer {
  width: auto;
  height: auto;
  background-color: #bcb5ff;
  color: whitesmoke;
  font-size: 24px;
  text-transform: uppercase;
  font-family: fontBWD;
  text-align: center;
}
#picassoFooter {
  background-image: linear-gradient(
    180deg,
    rgb(22, 167, 239),
    rgb(148, 45, 212)
  );
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: fontBWD;
  font-size: 16px;
  border-radius: 5px;
}
#picassoFooter p {
  font-weight: lighter;
}
#picassoFooter a {
  font-weight: lighter;
}
.footer-navigation,
.footer-contact,
.footer-social {
  margin: 10px;
}

.footer-navigation h3,
.footer-contact h3,
.footer-social h3 {
  color: #f0f0f0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 32px;
}
.footer-social a {
  font-size: 24px;
}
.footer-navigation p {
  align-items: center;
}
.footer-navigation ul,
.footer-social .social-icons {
  list-style: none;
  padding: 0;
}

.footer-navigation ul li,
.social-icon {
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.footer-navigation ul li a,
.social-icon {
  color: #ffffff;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  font-size: 32px;
  margin-right: 5px;
  color: whitesmoke;
}

.social-icon:hover,
.footer-navigation ul li a:hover {
  transform: scale(1.1);

}
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }
  .navbar {
    display: none;
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
    margin: 0px 16px;
    margin-top: -8px;
    padding: 16px;
  }
  .dropdown_menu {
    display: block;
  }
  .logo {
    display: block;
  }
}
